<% content_for :title, "Editing exercise tracking" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing exercise tracking</h1>

  <%= render "form", exercise_tracking: @exercise_tracking %>

  <%= link_to "Show this exercise tracking", @exercise_tracking, class: "w-full btn btn-primary my-4" %>
  <%= link_to "Back to exercise trackings", exercise_trackings_path(exercise_id:params[:exercise_id], workout_plan_id: params[:workout_plan_id],  ), class: "w-full btn btn-secondary" %>
</div>
