<!-- app/views/workout_plans/index.html.erb -->
<div class="grid text-center w-full">
  <h1 class="w-full">Your Workout Plans</h1>

  <%= link_to "Add New Plan", new_workout_plan_path, class: "btn btn-primary w-full" %>

  <%= turbo_frame_tag "workout_plans", class: "w-full text-center" do %>
    <div class="workout-plans">
      <% @workout_plans.each do |plan| %>
        <%= render partial: 'workout_plans/workout_plan', locals: { workout_plan: plan } %>
      <% end %>    
    </div>
  <% end %>
  <br/>
  <br/>
</div>
