<!-- app/views/workout_plans/new.html.erb -->
<h1>Create New Workout Plan</h1>

<%= form_with model: @workout_plan, data: { turbo: false } do |form| %>
  <br>
  <div>
    <label class="input"> 
      <span class="label">Name</span>
      <%= form.text_field :name %>
    </label>
    
  </div>

  <div>
    <%= form.submit "Create Plan", class:"btn btn-primary mt-2" %>
  </div>
<% end %>
