<% content_for :title, "Showing workout plan" %>

<div class="md:w-2/3 w-full">

  <h1 class="font-bold text-4xl">Showing workout plan</h1>
  <%= link_to "Back to workout plans", workout_plans_path, class: "w-full sm:w-auto text-center mt-2 mb-2 rounded-md px-3.5 py-2.5 btn btn-info inline-block font-medium" %>
  <%= render @workout_plan, is_owner: @is_owner %>
</div>
